ul {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.linkMain {
  color: black;
  padding: 2rem;
}

details {
  color: aqua;
}

.container {
  padding: 1rem 1.5rem;
}
