ul {
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0rem;
  text-align: start;
}

.urlLink {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.anchor {
  position: relative;
  z-index: 100;
  padding-left: 1rem;
  margin-top: 0.7rem;
}

.btnDiv {
  background-color: white;
  display: block;
  min-width: 100%;
  border: none;
}

a {
  color: black;
}

a:visited {
  color: rgb(158, 158, 158);
}

a:hover,
a:active {
  color: rgb(84, 84, 84);
}
