.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.prev,
.next,
button {
  color: #262626;
  cursor: pointer;
}

a {
  color: black;
}

a:visited {
  color: rgb(158, 158, 158);
}

a:hover,
a:active {
  color: rgb(84, 84, 84);
}
