* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;

  padding: 1rem 1rem;
}

.headingSecondary {
  font-size: 3.4rem;
}
